{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
<div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
  <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
    <ul class="list-reset lg:flex justify-end flex-1 items-center">
      {% for item in items %}
        <li class="mr-3">
          <a class="inline-block py-2 px-4 text-black font-bold no-underline" href="{{item.url}}">{{item.title}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
